<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jason.superframe">

    <meta-data
        android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
        android:value="GlideModule" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".photobrowser.viewer.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photobrowser.ImageViewPagerActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
